* {
    background-color: white;
}
.navbar {
    background-color: white;
   
}

a {
    color: black;
    
    font-weight: 100;
}

#intro {
 font-weight: 100;
 margin-top: 1%;
 padding: 3%;
 font-size: 200px;
}

p{
    font-weight: 500;
    margin-bottom: 20%;
    margin-left: 5%;
    font-size: x-large;
    text-align: center;
    
}
h1, .aboutme {
    margin-top: 1%;
    padding: 1.5%;
    font-weight: 100;
}

.sum {
    padding: 1.5%;
    font-weight: 100;
    margin-top: 1%;
}


.work, h2 {
    padding: 1.5%;
    font-weight: 100;
}
 h3, li {
    padding: 2.5%;
    font-weight: 100;
    list-style: none;

 }

 img {
     display: block;
     border-radius: 8px;
     margin-left:70%;
     border: solid 8px black;
   
 }
















